
h1{
    text-align: center;
    color: blue;
}

h2{
    text-align: right;
    color: red;
}

h3{
    text-align: center;
    color: #Ffe567;
}

.stylishFood{
    color: green;
}

#coffee{
    float:right;
}
