canvas{
    width: 602px;
    height: 404px;
    border: 1px solid #c3c3c3;
}

#hea1{
    font-family: "Arial";
    text-align: left;
    color: #15FF67;
}

#hea2{
    text-align: left;
    color: #AAe567;
}

#CanvasTitle{
    text-align: center;
    color: #Fce500;
}

#txtOut{
    color: white;
    background-color: salmon;
    width: 140pt;
    padding: 5pt;
    margin: 10pt;
    border: 1px solid lightgray;
    font-size: 16pt;
}