canvas{
    width: 300px;
    height: 300px;
    border: 1px solid #c3c3c3;
}

#InnerTitle{
    text-align: left;
    color: #15FF67;
}

#OuterTitle{
    text-align: left;
    color: #AAe567;
}

#CanvasTitle{
    text-align: center;
    color: #Fce599;
}