div{
    width: 140pt;
    padding: 5pt;
    margin: 10pt;
    border: 1px solid lightgray;
    font-size: 16pt;

}

.div1{
    background-color: salmon;
}

.div2{
    background-color: aquamarine;
}

#div1{
    color: white;
}

#div2{
    color: black;
}
